@page "/"
@using KayakCove.Application.Services
@using KayakCove.Domain.Entities
@inject ProductService ProductService

<PageTitle>Home</PageTitle>

@if (Products is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.IsInStock</td>
                </tr>
            }
        </tbody>
    </table>
}
@code{
    public IEnumerable<Product> Products;

    protected override async Task OnInitializedAsync()
    {
          Products = await ProductService.GetAllProductsAsync();
    }

}
