@page "/category/create"
@page "/category/update/{id:int}"
@rendermode InteractiveServer
@using KayakCove.Application.DTOs
@using KayakCove.Application.Services
@using KayakCove.Domain.Entities
@using KayakCove.Web.ApiServices
@inject CategoryApiService _categoryApiService
@inject NavigationManager _navigationManager
@inject IJSRuntime _js

@if (IsLoading)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="Loading data" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Id > 0 ? "Update" : "Create") Category</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="CategoryDto" FormName="UpsertCategoryForm" OnValidSubmit="OnUpsertCategorySubmit">
                <DataAnnotationsValidator />
                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="CategoryDto.Name" class="form-control" id="Name" placeholder="Name" />
                        <label for="Name">Name</label>
                        <ValidationMessage For="@(() => CategoryDto.Name)" />
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-success form-control" disabled="@IsLoading">
                                <i class="bi bi-floppy"></i> @(Id > 0 ? "Update" : "Create")
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <button @onclick="OnUpsertCategoryCancel" class="btn btn-danger form-control" disabled="@IsLoading">
                                <i class="bi bi-x-circle"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    private bool IsLoading { get; set; } = true;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public CategoryDto CategoryDto { get; set; } = new();

    private string CategoryNameFallback { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            CategoryDto = await _categoryApiService.GetCategoryByIdAsync(Id);
            CategoryNameFallback = CategoryDto.Name;
        }
        IsLoading = false;
    }

    private async Task OnUpsertCategorySubmit()
    {
        IsLoading = true;

        if (Id == 0)
        {
            await _categoryApiService.CreateCategoryAsync(CategoryDto);
            await _js.ToastrSuccess("Category created!");
        }
        else
        {
            var result = await _categoryApiService.UpdateCategoryAsync(CategoryDto);

            if (result)
                _js.ToastrSuccess("Category updated!");
            else
                _js.ToastrError("Something went wrong!");
        }

        IsLoading = false;

        _navigationManager.NavigateTo("category");
    }

    private void OnUpsertCategoryCancel()
    {
        CategoryDto.Name = CategoryNameFallback;
        _navigationManager.NavigateTo("category");
    }

}
